@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/webfonts/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html, body, input, textarea, button, select, ::placeholder {
    margin: 0;
    padding: 0;
    font-family: 'Vazirmatn', Tahoma, Arial, sans-serif;
    direction: rtl;
}

* {
    box-sizing: border-box;
}